body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button{
    display: flex;
    height: 4em;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.4em;
    background-color: #e0e1e6;
    color: #888;
    outline: 1px solid #888;
}

.operator{
    background-color: #fe9241;
    color: white;
}