.clear-btn{
    display: flex;
    height: 2em;
    flex: 1;
    background-color: darkgray;
    outline: 1px solid #888;
    color: white;
    justify-content: center;
    padding: 0.5em;
    font-size: 1.2em;
    font-weight: 500;
    align-items: center;

}
