.input{
    display: flex;
    height: 4em;
    flex: 1;
    background-color: black;
    outline: 1px solid black;
    color: white;
    justify-content: flex-end;
    padding: 0.5em;
    font-size: 1.4em;
    font-weight: bold;
    align-items: center;
}