.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin-top: 50px;
}

.calc{
  width: 400px;
  height: 600px;
}

.row{
  display: flex;
  width: 100%;
}